body{
    background-color: lightgray;
}

.constructor{
    text-align: center;
    background-color: white;
    width: 50%;
    position: fixed;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-50%);
}